/* ==================== */
/* yok semangat yok styling */
/* ==================== */
* {
  box-sizing: border-box;
}

/* body */
body{
  margin: 0;
  font-family: sans-serif;
}
/* ==================== */

/* upper divs */
header{
  height: 65px;
  width: 100%;
  background-color: rgba(44, 61, 65, 0.9);
  position: fixed;
  top: 0;
  left: 0;
}

a{
  text-decoration: none;
}

.logo{
  width: 200px;
  height: 50px;
  margin-top: 8px;
}

.header-left{
  float: left;
  margin-left: 30px;
}

.header-right{
  float: right;
  margin-right: 30px;
}

.header-right a{
  height: 65px;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-family: sans-serif;
}

.header-right a:hover{
  background-color: rgba(240, 239, 239, 0.3);
}

.header-right .btn-login{
  background-color: black;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 18px;
}

.header-right .btn-login:hover{
  color: rgba(44, 61, 65, 0.9);
  font-weight: bold;
  background-color: white;
}
/* ==================== */

/* mid/center/tengah-tengah divs */

/* ==================== */
/* upper divs */

/* ==================== */

/* komponen gitu loh */
button.btn {
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

button.btn-default {
  background-color: #594545;
  color: #fff8ea;
}

button.btn-urgent {
  background-color: #ff4f4f;
  color: #fff8ea;
}

button:hover {
  transition: 0.3s;
  background-color: #815b5b;
}

a.link {
  text-decoration: none;
}

/* ==================== */
